# Visual Studio Code
#**/.vscode

# SonarQube folders and files.
**/sonar-scanner
**/.scannerwork

# Project folders and files.
**/obj
**/output

**/*.pyc
/bcm*
**/venv*
**/CMakeFiles*

# Angle calibration file
python/sensors/configRotWorld.json
